:root {
    --pd: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block
}
label{
    margin-top: 5px;
    display: block;
}

.d-flex {
    display: flex;
}

.align-justify--center {
    align-items: center;
    justify-content: center;
}

.pt-48 {
    padding-top: 48px;
}

.pt-b-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* STYLE */

header {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.row.center.navbar {
    padding: 0 15px;
}

.header__input {
    /* padding: 10px!important; */
    font-size: 15px;
    padding-left: 10px!important;
    outline: none;
    border-radius: 3px;
}

.header__btn--add {
    background-color: tomato;
    color: white;
    border-radius: 5px;
}
.info-acc{
    position: relative;
}
.info-acc::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 100%;
    top: 100%;
    left: 0;
    /* background-color: rebeccapurple; */
}
a.nav-item {
    position: absolute;
    top: 38px;
    background: rgb(34, 34, 34);
    padding: 10px;
    border: 1px solid #fff;
    width: 100%;
    text-align: center;
    display: none;
    opacity: 1;
}

.info-acc:hover a.nav-item {
    display: block;
}
a.nav-item:hover{
    opacity: 0.8;
}

.contact {
    background-color: #f4f4f4;
    padding: 100px 40px 40px;
    min-height: 90vh;
}

.contact-item {
    position: relative;
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

.contact-item__head {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.contact-item__name{
    line-height: 25px;
}

.contact-item__thumb {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 50px;
}

.contact-item__photo {
    border-radius: 50%;
}

.contact-item__email {
    display: block;
    margin-bottom: 15px;
}
.contact-item__address{
    display: block;
    margin-top: 15px;
}

.contact-item__content {
    /* border-bottom: 1px solid #ccc; */
    padding: 15px 0;
}

.contact-item__content span{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
}

.contact-item__footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 8px 10px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    display: block;
    font-weight: bold;
    border: none;
}

.contact-item__btn--edit {
    background-color: rgb(23, 165, 118);
    color: white;
    margin-top: 20px;
}

.contact-item__btn--delete {
    position: absolute;
    background-color: rgb(212, 22, 79);
    color: white;
    border-radius: 3px;
    top: 0;
    right: 0;
}

i.fa-user-edit {
    margin-right: 5px;
}

/* modal */
label{
    display: block;
    font-weight: bold;
    color: black;
}


.phone-item,.email-item{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

select[name="phone-type"],select[name="email-type"]{
    padding: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.modal-phone,.modal-email,.modal-name,.modal-address,.modal-avatar{
    position: relative;
    padding:  0 0 12px 0;
}

.modal-avatar{
    border: none;
}


input[type="text"]{
    padding: 5px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    border: 1px solid #333;
    outline: none;
}

input[name="name"],input[name="address"]{
    margin-top: 10px;
}

input[type="file"]{
    margin-top: 10px;
}

/* input[type="submit"] */
.btn-submit {
    display: block;
    margin: 20px auto 0;
    padding: 10px;
    border: none;
    background-color: coral;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-form{
    border-radius: 10px;
}

.add-more{
    position: absolute;
    right: 0;
    font-size: 13px;
    color: forestgreen;
    font-weight: bold;
    cursor: pointer;
    bottom: -5px;
}
.add-more i{
    margin-right: 5px;
}
.modal-window {
    position: fixed;
    background-color: rgba(104, 102, 102, 0.623);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    max-height: 600px;
    overflow: scroll;
}


.modal-close {
    color: red;
    line-height: 50px;
    font-size: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}


footer {
    background-color: rgb(32, 31, 31);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.item__icon{
    margin-left: 5px;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.modal-title{
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: rgb(0, 136, 91);
}


.wp-form{
    display: flex;
}

.form-control:hover, .phone-type:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
    margin-top: 10px;
    font-size: 13px;
	font-style: italic;
    text-align: center;
    display: block;
}

/* img upload */

#blah {
    width: 100px;
    height: auto;
    margin: 10px auto;
    display: block;
}
/* scroll body */

.scroll-body{
    overflow: hidden;
}